.booking {
  padding: 41px 30px;

  @media (min-width: $width-tablet) {
    padding: 58px 155px;
  }

  @media (min-width: $width-desktop) {
    padding: 58px 155px 66px 155px;
  }
}

.booking__wrapper {
  text-align: center;
}

.booking__title {
  margin-top: 0;
  margin-bottom: 31px;

  @include fontMeasure(700, 21px, 26px);
  text-transform: uppercase;
}

.booking__description {
  margin-top: 0;
  margin-bottom: 27px;

  @include fontMeasure(400, 14px, 24px);
  color: $color-light-black;
  text-transform: uppercase;
}

.booking__link {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 58px;
  margin: 0 auto;
  padding: 14px 32px 17px 32px;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  @media (min-width: $width-tablet) {
    width: 458px;
  }
}
