.button {
  box-sizing: border-box;
  width: 280px;
  min-height: 58px;
  text-align: center;

  @include fontMeasure(700, 21px, 26px);
  font-family: $font-pt-sans;
  color: $color-white;
  background-color: $color-blue;
  border: none;
  text-transform: uppercase;
}
