.features__wrapper {
  text-align: center;
}

.features__intro {
  margin-top: 43px;
  margin-bottom: 30px;
  padding: 0 12px;

  @include fontMeasure(400, 14px, 26px);

  text-transform: uppercase;
}

.features__list {
  @include reset-list;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features__item {
  &--city {
    grid-column: 1/4;
  }
}

.features__item-block {
  display: flex;
  flex-direction: column;

  img {
    height: 260px;
    object-fit: cover;
  }

  @media (min-width: $width-tablet) {
    flex-direction: row;
    grid-column: 1/4;

    img {
      height: 256px;
    }

    &--bridge .features__card {
      order: 2;
    }
  }
}

.features__card {
  box-sizing: border-box;


  &--main {
    min-width: 256px;
    height: 256px;
    padding: 50px 12px 39px 12px;
    color: $color-white;
    background-color: $color-blue;
  }

  &--sub {
    padding: 25px 20px 0 20px;
    background-color: $color-light-gray;

    @media (min-width: $width-tablet) {
      padding: 42px 34px 42px 34px;
    }
  }
}

.features__card--sub:not(:last-child) .features__card-content {
  border-bottom: 1px solid $color-gray;

  @media (min-width: $width-tablet) {
    border-bottom: none;
  }
}

.features__image {
  height: 256px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 0;

  @include fontMeasure(700, 18px, 26px);
  text-transform: uppercase;

  &--desktop {
    display: none;
  }

  @media (min-width: $width-tablet) {
    &--desktop {
      display: inline;
    }
  }
}

.features__number {
  margin-top: 20px;
  margin-bottom: 0;

  @include fontMeasure(400, 14px, 21px);
}

.features__description {
  margin-top: 28px;
  margin-bottom: 25px;

  @include fontMeasure(400, 14px, 21px);
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.features__advice {
  @include reset-list;
}

.features__advice-wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 20px 0 20px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    padding: 0;
  }
}

.features__advice-item {
  margin-bottom: 26px;
  padding-left: 48px;
  text-align: left;

  &--housing {
    position: relative;
  }

  &--housing::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 4px;
    width: 39px;
    height: 37px;
    background-image: url("../img/icon-house.svg");
    background-position: center center;
    background-size: cover;
  }

  &--souvenirs {
    position: relative;
  }

  &--souvenirs::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 4px;
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-gift.svg");
    background-position: center center;
    background-size: cover;
  }

  &--food {
    position: relative;
  }

  &--food::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 35px;
    background-image: url("../img/icon-burger.svg");
    background-position: center center;
    background-size: cover;
  }

  @media (min-width: $width-tablet) {
    text-align: center;
    padding: 158px 36px 60px 36px;

    &--housing::before {
      left: 50%;
      top: 63px;
      transform: translateX(-50%);
      width: 75px;
      height: 72px;
    }

    &--food {
      order: 2;
    }

    &--food::before {
      left: 50%;
      top: 63px;
      transform: translateX(-50%);
      width: 76px;
      height: 68px;
    }

    &--souvenirs {
      order: 3;
    }

    &--souvenirs::before {
      left: 50%;
      top: 63px;
      transform: translateX(-50%);
      width: 64px;
      height: 75px;
    }
  }
}

.features__advice-header {
  margin-top: 0;
  margin-bottom: 28px;

  @include fontMeasure(700, 18px, 26px);
  text-transform: uppercase;
}

.features__advice-description {
  margin-top: 0;
  margin-bottom: 0;

  @include fontMeasure(400, 14px, 21px);
  color: $color-light-black;
  text-transform: uppercase;
}
