.feedback__wrapper {
  padding: 0 20px;
  margin: 0 auto;
}

.feedback__header {
  margin: 0;
  margin-bottom: 42px;

  @include text-bold;
  text-align: center;
  text-transform: uppercase;
}

.feedback__intro {
  margin-top: 0;
  margin-bottom: 16px;

  @include text-normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.feedback__fieldset {
  padding: 0;
  margin-bottom: 25px;
  border: none;
}

.feedback__legend {
  margin-bottom: 19px;

  @include text-bold;
  text-align: center;
  text-transform: uppercase;
}

.feedback__label {
  @include text-bold;

  &--person-info {
    @include text-normal;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.feedback__input {
  padding: 18px 22px 14px 22px;

  @include text-bold;
  color: $black;
  background-color: $input-background;
  border: none;

  &::placeholder {
    @include text-bold;
    color: $black;
  }
}

.feedback__fieldset--emotion textarea {
  box-sizing: border-box;
  min-width: 279px;
  min-height: 160px;
  padding: 13px 22px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;

  @include text-bold;
  color: $black;
  background-color: $input-background;
  border: none;

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;

    @include text-bold;
    color: $black;
  }
}
