.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  text-align: center;

  @include fontMeasure(700, 18px, 40px);
  background-color: $blue;
}

.main-nav__item a {
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}
