.page {
  height: 100%;
  font-family: $font-pt-sans;

  @include fontMeasure(400, 14px, 24px);
  color: $color-black;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $color-light-gray;
}
