.page-footer {
  padding-top: 28px;
  background-color: $color-white;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 120px;
  }
}

.page-footer__hashtag {
  margin-top: 0;
  margin-bottom: 33px;

  @include fontMeasure(700, 21px, 26px);
  text-transform: uppercase;
}

.page-footer__social {
  margin-bottom: 45px;
}

.page-footer__copyright {
  @include fontMeasure(400, 14px, 26px);
  text-transform: uppercase;
}
