.page-footer {
  padding-top: 28px;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__hashtag {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__social {
  margin-bottom: 45px;
}

.page-footer__copyright {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-transform: uppercase;
}