.page {
  height: 100%;

  @include text-normal;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  color: $black;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  margin: 0;
  box-sizing: border-box;
}
