.page-main {
  background-color: $color-white;
}

.page-main__slogan {
  width: 100%;
  height: 389px;
  text-align: center;
  background-color: $color-light-blue;
  background-image: url("../img/main-background-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    background-image: url("../img/main-background.jpg");
    height: 518px;
  }
}

.page-main__slogan img {
  margin-top: 90px;
}

.page-main__header {
  margin-top: 32px;
  margin-bottom: 0;
  padding: 0 12px;
  text-align: center;

  @include fontMeasure(700, 18px, 26px);
  text-transform: uppercase;
}

.page-main__feedback {
  margin-top: 36px;
}

.page-main__photo {
  margin-top: 35px;
}

.page-main__video {
  margin-top: 32px;
}
