.page-header {
  background-color: $color-white;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.page-header__logo-img {
  @media (min-width: $width-tablet) {
    width: 187px;
    height: 97px;
  }
}
