.photo__wrapper {
  padding: 0 20px;
  margin: 0 auto;
}

.photo__intro {
  margin-bottom: 0;

  @include fontMeasure(400, 14px, 24px);
  text-align: center;
  color: $color-light-black;
  text-transform: uppercase;
}

.photo__list {
  @include reset-list;
  margin-top: 25px;
}

.photo__item {
  padding: 22px 0 15px 0;
}

.photo__title {
  margin: 0;
  margin-top: 11px;

  @include fontMeasure(700, 14px, 24px);
  text-transform: uppercase;
}

.photo__author {
  margin: 0;
  margin-top: 1px;

  @include fontMeasure(400, 14px, 24px);
  color: $color-light-black;
}

.photo__likes {
  margin: 0;
  margin-top: 13px;
  padding-left: 37px;

  @include fontMeasure(700, 14px, 24px);
  text-transform: uppercase;
}
