.video {
  position: relative;
  text-align: center;
}

.video__title {
  margin: 0;

  @include fontMeasure(700, 18px, 26px);
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    @include fontMeasure(700, 30px, 26px);
  }
}

.video__intro {
  margin: 27px auto 33px auto;
  padding: 0 40px;

  @include fontMeasure(400, 14px, 24px);
  text-align: center;
  color: $color-light-black;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    margin-top: 30px;
    margin-bottom: 82px;
    max-width: 448px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 32px;
    margin-bottom: 79px;
  }
}

.video__image {
  width: 100vw;

  @media (min-width: $width-tablet) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $width-desktop) {
    width: 800px;
  }
}

.video__control {
  position: absolute;
  box-sizing: border-box;
  width: 280px;
  height: 45px;
  padding: 10px 23px 0 22px;
  background: rgba(0, 0, 0, 0.6);
  bottom: 66px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $width-tablet) {
    width: 648px;
    height: 93px;
    bottom: -3px;
  }

  @media (min-width: $width-desktop) {
    bottom: -3px;
    width: 800px;
  }
}

.video__control-buttons {
  background: #f2f2f2;
  width: 280px;
  height: 66px;
  margin: 0 auto;
  margin-top: -7px;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  box-sizing: border-box;
  align-items: center;

  @media (min-width: $width-tablet) {
    position: absolute;
    bottom: 10px;
    left: 50%;
    padding: 0 35px;
    transform: translateX(-50%);
    background: none;
    width: 648px;
  }

  @media (min-width: $width-desktop) {
    width: 800px;
  }
}

.video__control-button {
  &:hover {
    cursor: pointer;

    svg path {
      fill: $color-light-black;
    }
  }

  &:active {
    svg path {
      fill: rgba($color-light-black, 0.3);
    }
  }

  &:focus {
    border: 2px solid $color-black;
  }

  @media (min-width: $width-tablet) {
    svg path {
      fill: $color-white;
    }

    &:hover {
      svg path {
        fill: rgba($color-white, 0.6);
      }
    }

    &:active {
      svg path {
        fill: rgba($color-white, 0.3);
      }
    }

    &:focus {
      border: 2px solid $color-white;
    }
  }
}

.video__replay {
  background-color: none;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  z-index: 999;

  @media (min-width: $width-tablet) {
    margin-bottom: 22px;
    margin-left: -6px;
    background-color: rgba(0, 0, 0, 0);
  }
}

.video__subtitles {
  margin-top: 0;
  margin-left: 106px;
  background-color: none;
  width: 46px;
  height: 32px;
  border: none;
  outline: none;
  z-index: 999;

  @media (min-width: $width-tablet) {
    margin: 0;
    margin-bottom: 22px;
    margin-left: 446px;
    background-color: rgba(0, 0, 0, 0);
  }

  @media (min-width: $width-desktop) {
    margin-left: 591px;
  }
}

.video__fullscreen {
  background-color: none;
  margin-right: -4px;
  width: 40px;
  height: 30px;
  border: none;
  outline: none;
  z-index: 999;

  @media (min-width: $width-tablet) {
    margin-bottom: 22px;
    background-color: rgba(0, 0, 0, 0);
  }
}

.video__range-volume {
  width: 100%;

  @media (min-width: $width-tablet) {
    position: absolute;
    width: 389px;
    top: 30px;
    left: 90px;
    transform: translateX(0%);
  }

  @media (min-width: $width-desktop) {
    margin-top: 2px;
    width: 540px;
  }
}

.video__range {
  appearance: none;
  width: 100%;
  height: 3px;
}

.video__range::-webkit-slider-thumb {
  appearance: none;
  width: 13px;
  height: 13px;
  background-color: $color-white;
  border-radius: 50%;
  cursor: pointer;
  top: -5px;
  position: relative;
}

.video__range::-moz-range-thumb {
  appearance: none;
  width: 13px;
  height: 13px;
  background-color: $color-white;
  border-radius: 50%;
  cursor: pointer;
  top: -5px;
  position: relative;
}

.video__range:focus {
  outline: none;
}

.video__range::-webkit-slider-runnable-track {
  width: 235px;
  height: 3px;
  background-color: rgba($color-white, 0.2);
  border: none;

  @media (min-width: $width-tablet) {
    width: 389px;
  }

  @media (min-width: $width-desktop) {
    width: 540px;
  }
}

.video__range::-moz-range-track {
  width: 235px;
  height: 3px;
  background-color: rgba($color-white, 0.2);
  border: none;

  @media (min-width: $width-tablet) {
    width: 389px;
  }

  @media (min-width: $width-desktop) {
    width: 540px;
  }
}
