/* Colors */

$color-blue: #81b3d2;
$color-blue-hover: #669ec0;
$color-blue-active: #5496bd;
$color-light-blue: #ddebf4;
$color-white: #ffffff;
$color-black: #000000;
$color-light-black: #333333;
$color-input-background: #f2f2f2;
$color-light-gray: #eeeeee;
$color-gray: #d6d6d6;
$color-gray-disabled: #e5e5e5;
$color-gray-active: #d6d0cd;
$color-inner-shadow: rgba(0, 1, 1, 0.2);
$color-brown-active: #766357;
$color-brown-hover: #604e43;

/* Font */

$font-pt-sans: "PT Sans", "Arial", sans-serif;

/* Viewports */

$width-mobile: 320px;
$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1200px;
